$white: #fff;
$black: #000;
$gray: gray;
$dark: #0d0d0d;
$accent: #1faa59;

body {
  background: $white;
}

.container {
  margin: 200px auto;
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-container {
  background-color: $white;
  border: solid 1px $dark;
  border-radius: 100%;
  padding: 10px;
  z-index: 10;
}
.icon_car {
  fill: $accent;
}

.inner-container {
  align-items: center;
  border: solid 1px $dark;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -40px auto 0;
  padding: 30px;
  z-index: 0;
}

.buttons {
  display: flex;
  z-index: 100;
}
.button {
  //   background-color: $accent;
  border: solid 1px $dark;
  border-radius: 10px;
  font-size: 1.2rem;
  list-style: none;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}
